blis==0.7.8
catalogue==2.0.8
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
coloredlogs==15.0.1
confection==0.0.2
cymem==2.0.6
DAWG-Python==0.7.2
docopt==0.6.2
editdistance==0.6.0
epitran==1.24
flatbuffers==22.9.24
h5py==2.10.0
humanfriendly==10.0
idna==3.4
Jinja2==3.1.2
joblib==1.2.0
langcodes==3.3.0
marisa-trie==0.7.7
MarkupSafe==2.1.1
mpmath==1.2.1
munkres==1.1.4
murmurhash==1.0.8
nltk==3.7
numpy==1.23.3
onnxruntime==1.8.1
packaging==21.3
panphon==0.20.0
pathy==0.6.2
pip==21.3.1
preshed==3.0.7
protobuf==4.21.7
pydantic==1.9.2
pymorphy2-dicts-ru==2.4.417127.4579844
pymorphy2==0.9.1
pyparsing==3.0.9
pyreadline3==3.4.1
PyYAML==6.0
regex==2022.9.13
requests==2.28.1
ru-core-news-sm==3.4.0
setuptools==60.2.0
six==1.16.0
smart-open==5.2.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
spacy==3.4.1
srsly==2.4.4
sympy==1.11.1
thinc==8.1.2
tqdm==4.64.1
typer==0.4.2
typing-extensions==4.3.0
unicodecsv==0.14.1
urllib3==1.26.12
wasabi==0.10.1
wheel==0.37.1
